.stanicaVoziloDiv{
    border: 2px solid black;    
    width: 250px;
    margin: 10px;
}

.stanicaDiv{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 105px;
    justify-content: space-between;
    align-items: flex-end;
    
}

.voziloDiv{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 81px;
    justify-content: space-between;
    align-items: flex-end;
}

.crta{
    width: 250px;
    height: 1px;
    background-color: black;
}

.prikaziTabelu{
    margin-right: 30px;
}

.inputStanicaDiv{
    height: 105px;
}

.baterija{
    width: 50px;   
}

.stanicaBaterija{
    width: 50px; 
    margin-left: 10px;
    border-radius: 6%;
}

.topDiv{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    width: 1050px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.lblInfo{
    margin-left: 30px;
    margin-top: 8px;
}


.inputTop{
    margin-left: 30px;
    margin-right: 15px;
}


.lblTop{
    margin-top: 7px;
}
.lblTopProcenat{
    margin-top: 7px;
    margin-right: 50px;
}



.stanica{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.red{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.srednji{
    width: 100px;
}

.desni{
    width: 75px;
}

button{
    width: 75px;
}

input{
    width: 64px;
}

#stanicaForm{
    display: flex;
    flex-direction: column;
    margin: 25px;

    border: 1px solid black;
    border-radius: 5%;
    width: 422px;

    padding: 5px;
}

.proveriBtn{
    width:100px;
}

.vozilo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.red{
    display: flex;
    flex-direction: row; 
    justify-content:space-between ;
    width: 350px;
}

hr{
    border-top: 1px solid black;
}


.form-inline .form-control {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.labela{
    width: 120px;
}

.fake{
    width: 75px;
}

.fakeInput{
    width:100px;
}

.heder{
    background-color: #337ab7;
    color: white;
    height: 60px;
}

.divSveStanice{
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
}

.voziloBaterija{
    widows: 50px;
}

.prazniVozila{
    margin-left: 30px;
}